@import 'SassConstants';

.container {
  background-color: $night;
  overflow-y: hidden;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main {
      flex: 0 1 100%;
      max-height: calc(100vh - 90px);
      box-sizing: border-box;
      padding: 20px;
      overflow-y: scroll;
    }
  }
}
