@import 'SassConstants';

.container {
  flex: 0 1 100%;
  box-sizing: border-box;

  .heading {
    font-family: $main-font;
    font-size: 20px;
    color: $off-white;
  }

  .margin-bottom {
    margin-bottom: 20px;
  }

  .settings {
    font-family: $main-font;
    max-width: 800px;
    border-radius: 2px;
    border: 1px solid $off-white;
    padding: 20px;

    .heading {
      font-size: 16px;
      color: $off-white;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .sub-heading {
      font-size: 14px;
      color: $off-white;
      margin-bottom: 20px;
    }
  }
}
