@import 'SassConstants';

.tabs-menu {
  .link {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    font-family: $main-font;
    color: $off-white;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.3;
    border-bottom: 2px solid $night;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    user-select: none;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border-bottom: 2px solid $off-white;
    }
  }
}
