@import 'SassConstants';

.container {
  background-color: $night;
  overflow-y: hidden;

  .content {
    font-family: $main-font;
    color: $off-white;

    .heading {
      font-size: 20px;
      margin-bottom: 40px;
    }

    .text {
      font-size: 16px;
      margin: 10px 0;
    }
  }
}
