@import 'SassConstants';

.container {
  width: 200px;
  height: calc(100vh - 130px);
  background-color: $dusk;
  padding: 40px 20px;

  .menu-item {
    margin-bottom: 40px;
    cursor: pointer;

    img {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      margin-right: 10px;
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      font-family: $main-font;
      font-size: 16px;
      color: $off-white;
    }
  }
}
