$main-font: 'Oxygen', sans-serif;

// Colors
$white: #fff;
$black: #000;

$off-white: #f2f2f2;
$grey: #e0e0e0;
$dark-grey: #9a9a9a;
$night: #1b1b1b;
$dusk: #272727;
$horizon-blue: #36a2eb;
$cherry: #ff4040;

// Misc
$border-radius: 4px;
$small-padding: 10px;
$medium-padding: 20px;
$normal-padding: 40px;
