@import 'SassConstants';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $night;
  border-bottom: 2px solid $dusk;
  padding: 10px 20px;

  img {
    height: 20px;
    cursor: pointer;
  }

  .center {
    .title {
      display: inline-block;
      vertical-align: middle;
      font-family: $main-font;
      font-size: 22px;
      color: $off-white;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .user {
      margin-right: 10px;

      img {
        display: inline-block;
        vertical-align: middle;
        height: 14px;
        margin-right: 10px;
        cursor: default;
      }

      .username {
        display: inline-block;
        vertical-align: middle;
        font-family: $main-font;
        font-size: 14px;
        color: $off-white;
      }
    }

    .logout {
      height: 18px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
