@import 'SassConstants';

.container {
  margin-top: 40px;

  .copyright {
    font-family: $main-font;
    font-size: 16px;
    color: $off-white;
    border-top: 1px solid $off-white;
    padding-top: 10px;
  }
}
