@import 'SassConstants';

.container {
  flex: 0 1 100%;
  box-sizing: border-box;

  .my-stocks {
    font-family: $main-font;
    color: $off-white;
    max-width: 400px;
    border-radius: 2px;
    border: 1px solid $off-white;
    box-sizing: border-box;
    padding: 20px;

    .title {
      font-size: 18px;
      font-style: italic;
      margin-bottom: 5px;
    }

    .stock {
      .label {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        letter-spacing: 0.04em;
        line-height: 1.5;
      }

      img {
        display: inline-block;
        vertical-align: middle;
        height: 12px;
        margin-left: 10px;
        cursor: pointer;
      }

      .none {
        font-size: 14px;
        letter-spacing: 0.04em;
        line-height: 1.5;
      }
    }
  }

  .add-stock {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin-top: 30px;
  }
}
