@import 'SassConstants';

.container {
  display: block;

  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .label {
      display: block;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-left: 34px;
      margin-bottom: 10px;

      font-family: $main-font;
      font-size: 15px;
      color: $off-white;
      font-weight: 300;

      input {
        display: none;

        &:checked ~ .checkmark {
          opacity: 1;
          background-color: $off-white;

          &:after {
            display: block;
          }
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        background-color: $off-white;
        border: 0;
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          display: none;
        }

        &:after {
          left: 7px;
          top: 3px;
          width: 5px;
          height: 10px;
          border: solid $night;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}
