@import 'SassConstants';

.container {
  flex: 0 1 100%;
  box-sizing: border-box;

  .heading {
    font-family: $main-font;
    font-size: 20px;
    color: $off-white;
    margin-bottom: 20px;
  }
}
