@import 'SassConstants';

.container {
  flex: 0 1 100%;
  box-sizing: border-box;

  .heading {
    font-family: $main-font;
    font-size: 20px;
    color: $off-white;
  }

  .margin-bottom {
    margin-bottom: 20px;
  }

  .settings {
    font-family: $main-font;
    max-width: 800px;
    border-radius: 2px;
    border: 1px solid $off-white;
    padding: 20px;

    .header {
      font-size: 16px;
      color: $off-white;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .dropdown-box {
      margin: 10px 0;

      .label {
        font-size: 16px;
        color: $off-white;
        margin-bottom: 10px;
      }

      .dropdown {
        display: inline-block;
        vertical-align: middle;
      }

      .colors {
        display: inline-block;
        vertical-align: middle;

        .color {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          margin: 0 0 0 5px;
        }
      }
    }

    .user-info {
      .info-line {
        font-family: $main-font;
        font-size: 16px;
        color: $off-white;
        line-height: 1.4;

        span {
          font-weight: 700;
          margin-right: 5px;
        }
      }
    }
  }
}
