@import 'SassConstants';

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  background-color: $night;
  padding: 0;
  margin: 0;

  .content {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;

    .text {
      font-family: $main-font;
      color: $off-white;
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: 0.05em;
      user-select: none;
    }

    .margin-bottom {
      margin-bottom: 20px;
    }
  }
}
