@import 'SassConstants';

.container {
  display: block;
  font-family: $main-font;

  .outline-button {
    background-color: inherit;
    border: 1px solid $off-white;
    color: $off-white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-radius: 4px;
    outline: none;
    padding: 6px 14px;
    cursor: pointer;

    &:hover {
      border: 1px solid $white;
      color: $white;
    }

    &:disabled {
      cursor: default;
    }
  }
}
