@import 'SassConstants';

.dropdown {
  position: relative;
  font-family: $main-font;
  font-size: 16px;

  &.normal {
    width: 200px;
  }
  &.long {
    width: 230px;
  }

  select {
    width: 100%;
    background-color: $off-white;
    color: $night;
    font-size: inherit;
    border: 1px solid $off-white;
    border-radius: 5px;
    outline: none;
    margin: 0;
    padding: 2.5px 2.5px 2.5px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
  }

  // arrow down
  &::after {
    content: '\25BC';
    color: $night;
    font-size: 12px;
    line-height: 1;
    right: 8px;
    top: 8px;
  }

  &::before {
    content: '';
    width: 28px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
    background-color: $off-white;
  }
}
