@import 'SassConstants';

.container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

  img {
    width: 12px;
    height: 12px;
    padding-top: 5px;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  .box {
    position: absolute;
    max-width: 250px;
    opacity: 0.85;
    border-radius: 5px;
    background-color: $black;
    padding: 10px;
    margin-top: 5px;
    z-index: 10;

    .line {
      font-family: $main-font;
      font-size: 12px;
      line-height: 1.8;
      color: $off-white;
      font-weight: 200;
      text-align: left;
      z-index: 11;

      span {
        opacity: 1;
        font-weight: 700;
        margin-right: 6px;
      }
    }
  }
}
