@import 'SassConstants';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-top: 10px;

  .graph {
    justify-content: center;
    border: 1px solid $off-white;
    padding: 5px 5px 10px 5px;
    margin: 10px;

    &.small {
      flex: 0 1 400px;
    }
    &.medium {
      flex: 0 1 600px;
    }
    &.large {
      flex: 0 1 800px;
    }
    &.extra-large {
      flex: 0 1 1000px;
    }

    .top-row {
      text-align: center;
      margin-bottom: 10px;

      .title {
        display: inline-block;
        vertical-align: middle;
        font-family: $main-font;
        font-size: 14px;
        color: $off-white;

        a {
          color: inherit;
          text-decoration: none;

          &:visited,
          &:active {
            color: inherit;
          }

          &:hover {
            color: $horizon-blue;
            cursor: pointer;
          }
        }
      }
    }

    .tooltip-keys {
      font-family: $main-font;
      font-size: 10px;
      color: $dark-grey;
      text-align: center;
      margin-top: 5px;
    }

    .date {
      font-family: $main-font;
      font-size: 12px;
      color: $dark-grey;
      text-align: center;
      margin-top: 5px;
    }
  }

  .none {
    width: 100%;
    font-family: $main-font;
    font-size: 16px;
    color: $off-white;
    font-style: italic;
  }
}
