@import 'SassConstants';
$asset-path: '../../../../assets';

.container {
  position: relative;
  width: 250px;

  .content {
    font-family: $main-font;
    background-color: $off-white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;

    .close {
      position: absolute;
      top: 4px;
      right: 6px;
      cursor: pointer;

      img {
        height: 12px;
      }
    }

    input {
      width: 100%;
      box-sizing: border-box;
      background-image: url('#{$asset-path}/magnifying-glass.svg');
      background-position: 5px 7px;
      background-repeat: no-repeat;
      border-radius: 5px;
      background-color: $off-white;
      color: $night;
      font-size: 16px;
      padding: 4px 0 4px 25px;
      border: none;
      outline: 0;
    }

    .choice {
      color: $dark-grey;
      padding: 4px;

      &:hover {
        color: $night;
        cursor: pointer;
      }

      &.first {
        padding-top: 10px;
      }
    }
  }
}
