@import 'SassConstants';

$normal-width: 400px;
$small-width: 280px;
$normal-height: 600px;
$medium-height: 480px;
$small-height: 200px;
$smallest-height: 150px;

.container {
  font-family: $main-font;
  width: 100vw;
  height: 100vh;

  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;

    @media (max-width: 1600px) {
      position: relative;
      text-align: center;
    }

    .left-box {
      display: inline-block;
      vertical-align: top;
      width: $normal-width;
      height: $normal-height;
      background-color: $dusk;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      @media (max-width: 600px) {
        width: $small-width;
        height: $smallest-height;
      }

      @media (min-width: 601px) and (max-width: 900px) {
        height: $small-height;
      }

      @media (max-width: 900px) {
        display: block;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom: 1px solid $night;
        margin: auto;
      }

      @media (min-width: 901px) {
        border-right: 1px solid $night;
      }

      .content {
        height: $normal-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 600px) {
          height: $smallest-height;
        }

        @media (min-width: 601px) and (max-width: 900px) {
          height: $small-height;
        }

        .title {
          font-family: $main-font;
          font-size: 28px;
          color: $white;
          font-weight: 600;
          text-align: center;
          margin-bottom: 20px;
        }

        @media (max-width: 600px) {
          .title {
            font-size: 20px;
            margin-bottom: 10px;
          }

          img {
            height: 60px;
          }
        }

        @media (min-width: 601px) and (max-width: 900px) {
          .title {
            font-size: 26px;
            margin-bottom: 15px;
          }

          img {
            height: 60px;
          }
        }
      }
    }

    .right-box {
      display: inline-block;
      vertical-align: top;
      width: $normal-width;
      height: $normal-height;
      box-sizing: border-box;
      background-color: $dusk;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      @media (max-width: 600px) {
        width: $small-width;
        height: $medium-height - 20px;
      }

      @media (min-width: 601px) and (max-width: 900px) {
        height: $medium-height;
      }

      @media (max-width: 900px) {
        display: block;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        margin: auto;
      }

      .heading {
        font-size: 18px;
        color: $off-white;
        text-align: center;
        margin: 5px 0 20px 0;
      }

      .content {
        height: $normal-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 600px) {
          height: $medium-height - 40px;
        }

        @media (min-width: 601px) and (max-width: 900px) {
          height: $medium-height - 20px;
        }

        .error {
          height: 15px;
          font-size: 14px;
          color: $cherry;
          margin: 8px 0 12px 0;
        }

        .link {
          color: $off-white;
          font-size: 14px;
          text-align: center;
          margin-top: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
