@import 'SassConstants';

.container {
  display: inline-block;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
  }

  .message {
    display: inline-block;
    vertical-align: middle;
    font-family: $main-font;
    color: $off-white;
    font-size: 16px;
  }
}
