@import 'SassConstants';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 140px);

  .content {
    .heading {
      font-family: $main-font;
      font-size: 20px;
      color: $off-white;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    .box {
      max-width: 700px;

      .extra-margin-top {
        margin-top: 30px;
      }

      .sub-heading {
        font-family: $main-font;
        font-size: 18px;
        font-weight: 600;
        color: $off-white;
        margin-bottom: 10px;
      }

      .paragraph {
        font-family: $main-font;
        color: $off-white;
        font-size: 16px;
        letter-spacing: 0.042em;
        line-height: 1.35;
        margin: 14px 0;

        span {
          font-weight: 700;
          text-decoration: underline;
        }

        a {
          color: $horizon-blue !important;
          text-decoration: none;

          &:visited,
          &:hover,
          &:active {
            color: inherit;
          }
        }
      }
    }
  }
}
